.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    padding: 15px 15px;
    color: white;
    text-align: center;
    text-decoration: none;
}


.navbar li a:hover {
    background-color: plum
}

.navbar ul {
    background-color: mediumorchid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
